.textos1{
    font-weight: bold !important;
 }
 
 .imagem{
     background-image: url(https://images7.alphacoders.com/381/381583.jpg);
     background-repeat: no-repeat;
     width: 80vh;
     min-height: 80vh;
     background-size: cover;
     background-position: center;
 }
 
 .text-decorator-none{
     text-decoration: none;
 }